*{
	padding:  0;
	margin:  0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.main-width{
	/*width: 1280px;*/
	max-width: 100%;
}
.hero{
	height:  100vh;
	width:  100%;
	/*background-image: url(../img/background.jpg);*/
	background: #101010;
	background-size: cover;
	background-position: center;
}

	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 45px;
		padding-left: 8%;
		padding-right: 8%;
		position: sticky;
		top: 0;
		
	}

	/*Hamburger symbol*/
	nav .hamb{
		width: 35px;
		height: 24px;
		right: 3%;
		/*top: 20px;*/
		z-index: 5;
		background: transparent;
		position: fixed;
		cursor: pointer;
		display: none;
	}
	nav .hamb span{
		display: block;
		background: #FFDB58;
		width: 100%;
		height: 3px;
		transition: .3s;
		transition-property: transform, opacity;

	}
	nav .hamb span:nth-child(2){
		margin: 7px 0px;
	}

	.logo{
		color: white;
		font-size: 35px;
		letter-spacing: 1px;
		cursor:  pointer;
	}

	span{
		color: #FFDB58;
	}
	nav .nav-list li{
		list-style-type: none;
		display: inline-block;
		padding:  10px 25px;
	}
	nav .nav-list li a{
		color: white;
		text-decoration: none;
		font-weight: bold;
		text-transform: capitalize;
		
	}
	nav .nav-list li:not(:last-child) a:hover{
		color: #FFDB58;
		transition:  .4s;
	}
	nav .nav-list li.btn a{
		display: inline-block;
		background: transparent;
		border: 2px solid #FFDB58;
		padding: 9px 28px;
		border-radius: 30px;
		line-height: 1.3;
		color: #FFDB58;
		font-weight: 500;
	}
	nav .nav-list li.btn:hover a{
		background: #FFDB58;
		color: white;
		border: 2px solid transparent;
		transition: .4s;
	}


/*BUTTON*/
.button{
	background-color: #FFDB58;
	color: white;
	text-decoration: none;
	border:  2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}
.button:hover{
	transform: scale(1.2);
}

.content{
	position: absolute;
	width: 75%;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);

	padding-bottom: 0;
	
	display: flex;
	flex-direction: row;
	align-items: space-between;
}
	.left{
		flex: auto;
		padding-bottom: 0;
		/* width: 75%; */
	}
	.right{
		flex: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 0;
	}
h1{
	color:  white;
	margin:  20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #FFDB58;
	letter-spacing: 2px;
	font-size: 20px;

}

/*TALK TO ME BAR*/
/*.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display:  inline-block;
	width: 100%;
	padding:  14px 130px 14px 15px;
	border: 2px solid #FFDB58;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline:  none;
	border:  none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #FFDB58;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}*/

/*-------------------------------------ABOUT SECTION--------------------------------------------*/
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;

}
.about img{
	height:  auto;
	max-width: 430px;
	width: 40%;
}
.about-text{
	max-width: 550px;
	width: 45%;
	margin-left: 10px;
}
.main{
	width: 1130px;
	max-width:  95%;
	margin:  0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #FFDB58;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color: #FFDB58;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding:  13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background-color: transparent;
	border: 2px solid;
	cursor: pointer;
}

/*-------------------------------------SERVICES SECTION--------------------------------------------*/
.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;

}
.title h2{
	color: white;
	font-size: 75px;
	/*width: 1130px;*/
	margin: 30px auto;
	text-align: center;
	position: relative;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: fit-content;
}
.card{
	height: 365px;
/*	min-height: fit-content;*/
/*The problem here is that if i uncomment this line, they all aren't the same height*/
	width: 355px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.skill{
	height: fit-content;
	width: 355px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.skill i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #FFDB58;
}

.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #FFDB58;
}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #FFDB58;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color: #FFDB58;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding:  9px 22px;
	border-radius: 30px;
	transition: .4s;
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid;
	cursor: pointer;
}
.contact-me{
	margin-top: 15px;
	width: 100%;
	/*height: 290px;*/
	/*background: #191919;*/
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: #f0EAD6;
	font-size: 20px;
	/*font-weight: bold;*/
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color: #FFDB58;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding:  9px 22px;
	border-radius: 30px;
	transition: .4s;
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid;
	cursor: pointer;
}

/*CAPSTONE SECTION*/
.capstone{
	background: #191919;
	width: 100%;
	padding: 100px 0px;

}
.capstone-text{
	max-width: 700px;
	width: 80%;
	margin-left: 10px;
}
.capstone-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.capstone-text h5{
	color: white;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.capstone-text p{
	color: #FFDB58;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFDB58;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color: #FFDB58;
	bottom: 35px;
	font-size: 14px;
}

/*video{
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
    opacity: 80%;
  }
  .video-wrapper{
    border: 2px solid #000;
    width:100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/


@media screen and (max-width: 1000px){
/*NAV BAR*/
	nav .hamb{
		display: initial;
	}
	.click{
		top: 46px;
	}
	.click span{
		position: absolute;
		margin-top: 12px;
	}
	.click span:first-child{
		transform: rotate(-40deg);
	}
	.click span:nth-child(2){
		opacity: 0;
		margin: 0;
	}
	.click span:last-child{
		transform: rotate(40deg);
		top: 0;
	}
	nav .nav-list{
		position: absolute;
		top: 90px;
		right: -100%;
		bottom: 0;
		width: 60%;
		height: 50%;
		min-height: fit-content;
		background: black;
		z-index: 2;
		padding: 6% 9%;
		transition: .3s right;
		border-radius: 10px;
	}
	nav .nav-list li{
		display: block;
	}
	nav .nav-list li a{
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		margin-left: 0;
		margin-bottom: 40px;
	}
	nav .nav-list li.btn a{
		position: absolute;
		bottom: 0%;
		right: 20%;
		left: 20%;
		padding: 7px 15px;
		font-size: 14px;
	}
	nav .nav-list.open{
		right: 0;
	}

	/*ABOUT SECTION*/
	.about img{
		height:  auto;
		width: 50%;
		align-content: center;
	}
	.about-text{
		width: auto;
	}
	.main{
		width: auto;
		max-width:  95%;
		margin:  0 auto;
		/*sets the items to be organized vertically*/
		display: flexbox;
		flex-direction: column;
		
		align-items: center;
		/*justify-content: space-around;*/
	}
	/*.about-text h2{
		color: white;
		font-size: 75px;
		text-transform: capitalize;
		margin-bottom: 20px;
		align-items: center;
	}
	.about-text h5{
		color: white;
		font-size: 22px;
		margin-bottom: 25px;
		text-transform: capitalize;
	}
	.about-text p{
		color: #FFDB58;
		letter-spacing: 1px;
		line-height: 28px;
		font-size: 18px;
		margin-bottom: 45px;
	}*/

	/*SERVICES SECTION*/
	.box{
		display: flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: fit-content;
	}

	.about img{
		height:  auto;
		width: 80%;
		align-items: center;
	}
	.about-text{
		width: 80%;
		margin-left: 10px;
		align-content: center;
	}
	.about-text h2{
		text-align: center;
	}
	.about-text h5{
		text-align: center;
	}
	.about-text {
		align-content: center;
	}

/*CAPSONE SECTION*/


};







